<form id="accountCreate" action="/api/users" method="POST">
  <h1>Create your account</h1>
  <div class="formError"></div>

  <label for="firstName">First Name</label>
  <input id="firstName" type="text" name="firstName" placeholder="John" />

  <label for="lastName">Last Name</label>
  <input id="lastName" type="text" name="lastName" placeholder="Smith" />

  <label for="email">Email</label>
  <input id="email" type="email" name="email" placeholder="example@mail.com" />

  <label for="address">Address</label>
  <input
    id="address"
    type="text"
    name="address"
    placeholder="9 Ohio Court Lincoln, NE 68506"
  />

  <label for="password">Choose a Password</label>
  <input
    id="password"
    type="password"
    name="password"
    placeholder="Make it a good one!"
  />

  <label for="tosAgreement">Do you agree to the terms and conditions?</label>
  <input id="tosAgreement" type="checkbox" name="tosAgreement" value="agree" />

  <button type="submit" class="button">Get Started</button>
</form>
