<table id="cartTable">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>N</th>
    </tr>
  </thead>
  <tbody>
    <tr id="emptyCartMessage">
      <td colspan="5">You have no items in your cart!</td>
    </tr>
  </tbody>
</table>

<form id="placeOrder" action="/api/orders" method="POST">
  <h1>Place order</h1>
  <div class="formError"></div>

  <input type="hidden" name="_method" value="POST" />
  <input class="hiddenEmailInput" type="hidden" name="email" />

  <label for="source">Card number</label>
  <input
    id="source"
    type="text"
    name="source"
    placeholder="Visa, Mastercard, UnionPay"
  />

  <button type="submit" class="button">Place Order</button>
</form>
